{% from "macros.html" import article_bibtex, book_bibtex, inproceeding_bibtex %}

{% extends "base.html" %}

{% block title %}BibTeX Entries{% endblock %}

{% block content %}
<br>
<button onclick = "copy_to_clipboard()">Copy to Clipboard</button>
<br>
<br>
<!-- Articles BibTeX -->
<div class="bibtex-container">
    {% for article in articles %}
    <div class="bibtex-entry">
        <pre>
{{ article_bibtex(article) }}
</pre>
    </div>
    {% endfor %}

<!-- Books BibTeX -->
<div class="bibtex-container">
    {% for book in books %}
    <div class="bibtex-entry">
        <pre>
{{ book_bibtex(book) }}
</pre>
    </div>
    {% endfor %}
</div>

<!-- Inproceedings BibTeX -->
<div class="bibtex-container">
    {% for inproceeding in inproceedings %}
    <div class="bibtex-entry">
        <pre>
{{ inproceeding_bibtex(inproceeding) }}
</pre>
    </div>
    {% endfor %}
</div>
<script>
    function copy_to_clipboard() {
        var bibtexEntries = document.querySelectorAll('.bibtex-entry pre');
        var textarea = document.createElement('textarea');
        textarea.value = Array.from(bibtexEntries).map(entry => entry.innerText).join('\n');
        document.body.appendChild(textarea);
        textarea.select();
        document.execCommand('copy');
        document.body.removeChild(textarea);
        alert("Copied to Clipboard")
    }
</script>
{% endblock %}
