{% extends "base.html" %}

{% block title %}References{% endblock %}

{% block content %}
{%- if search_query -%}
<h3 class="text-center">
	{%- if search_option == "OR" -%}
	References that match any of
	{%- elif search_option == "AND" -%}
	References that match all of
	{%- endif -%}
	{{- " \"" + "\", \"".join(search_query.split()) + "\"." -}}
</h3>
{%- endif -%}

<div class="references-table">
    <table>
        <thead>
            <tr>
                <th>Title <button class="sort-button" onclick="sortTable('title')">⇅</button></th>
                <th>Author <button class="sort-button" onclick="sortTable('author')">⇅</button></th>
                <th>Year <button class="sort-button" onclick="sortTable('year')">⇅</button></th>
                <th>Type <button class="sort-button" onclick="sortTable('type')">⇅</button></th>
                <th>Tag <button class="sort-button" onclick="sortTable('tag')">⇅</button></th>                
            </tr>
        </thead>
        <tbody id="references-body">
            {% for reference in references %}
            <tr>
                <td><a href="/reference/{{ reference.type }}/{{ reference.id }}">
                    <div>{{ reference.title }}</div>
                </a></td>
                <td>{{ reference.author }}</td>
                <td>{{ reference.year }}</td>
                <td>{{ reference.type.capitalize() }}</td>
                <td>{{ reference.tag }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<script>
    let sortState = {
    title: 'asc',
    author: 'asc',
    year: 'asc',
    type: 'asc',
    tag: 'asc'
};

function sortTable(sortBy) {
    sortState[sortBy] = sortState[sortBy] === 'asc' ? 'desc' : 'asc';

    fetch(`/sort?sort_by=${sortBy}&order=${sortState[sortBy]}`)
        .then(response => response.json())
        .then(data => {
            let tableBody = document.getElementById('references-body');
            tableBody.innerHTML = '';
            data.forEach(ref => {
                tableBody.innerHTML += `
                    <tr>
                        <td><a href="/reference/${ref.type}/${ref.id}"><div>${ref.title}</div></a></td>
                        <td>${ref.author}</td>
                        <td>${ref.year}</td>
                        <td>${ref.type.charAt(0).toUpperCase() + ref.type.slice(1)}</td>
                        <td>${ref.tag}</td>
                    </tr>
                `;
            });
        })
        .catch(error => {
            console.error('Error:', error);
        });
}
</script>
{% endblock %}
