<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Articles</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
	<h1>Articles</h1>
	<a href="/new">New article</a>
	{% if items %}
	<div class="articles-table">
		<table>
			<thead>
				<tr>
					<th>Author</th>
					<th>Title</th>
					<th>Journal</th>
					<th>Year</th>
					<th>Volume</th>
					<th>Pages</th>
				</tr>
			</thead>
			<tbody>
				{% for item in items %}
				<tr>
					<td>{{ item.author or 'N/A' }}</td>
					<td>{{ item.title or 'N/A' }}</td>
					<td>{{ item.journal or 'N/A' }}</td>
					<td>{{ item.year or 'N/A' }}</td>
					<td>{{ item.volume or 'N/A' }}</td>
					<td>{{ item.pages or 'N/A' }}</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>

	<h2>Bibtex</h2>
	<pre>{% for item in items %}
{{ '@article{' }}{{item.key}},{% if item.author %}
	{{ 'author = {' }}{{ item.author }}{{ '}' }},{% endif %}{% if item.title %}
	{{ 'title = {' }}{{ item.title }}{{ '}' }},{% endif %}{% if item.journal %}
	{{ 'journal = {' }}{{ item.journal }}{{ '}' }},{% endif %}{% if item.year %}
	{{ 'year = {' }}{{ item.year }}{{ '}' }},{% endif %}{% if item.volume %}
	{{ 'volume = {' }}{{ item.volume }}{{ '}' }},{% endif %}{% if item.pages %}
	{{ 'pages = {' }}{{ item.pages }}{{ '}' }},{% endif %}
{{ '}' }}
{% endfor %}</pre>
	{% else %}
	<p>There is nothing here yet.</p>
	{% endif %}
</body>
</html>