body {
	font-family: Arial, sans-serif;
}

.references-table table {
	width: 100%;
	border-collapse: collapse;
}

.references-table th, .references-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.references-table th {
	background-color: #f2f2f2;
}

.form-control-dropdown {
    width: 50%;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: grid;
    place-items: center;
}

.form-group {
    display: grid;
    place-items: center;
}
